.code-sample {
  background: rgba(219, 222, 216, 0.7);
  padding: 9px 18px;
  line-height: 1.3em;
  white-space: pre;

  border: 1px solid rgba(191, 196, 186, 0.7);
  border-radius: 4px;
}

.code-sample--no-margin {
  margin: 0;
}


[class*=language-] {
  background: rgba(0,0,0,0.04);
  padding: 6px 24px;
}

.CodeRay .line-numbers {
  margin-right: 24px;
}


div.code .comment { color: #888f91; }
div.code .keyword { color: #859900; }
div.code .string  { color: #37a592; }
div.code .integer { color: #7b64b4; }
