!!!
%html
  %head
    %title The Myst Programming Language

    %script(src="https://use.typekit.net/qgo3knx.js")
    :javascript
      try{Typekit.load({ async: false });}catch(e){}

    %link(rel="stylesheet" href="../styles/main.css")

  %body
    = Haml::Engine.new(File.read("src/_banner._haml")).render

    %main
      :markdown
        {::options coderay_css="class" coderay_bold_every="5" auto_ids="false" footnote_nr="5" /}

        # Chapter 1.1: Value Interpolations

        Use `<>` to interpolate the result of any expression into any other expression.
