!!!
%html
  %head
    %title The Myst Programming Language

    %script(src="https://use.typekit.net/qgo3knx.js")
    :javascript
      try{Typekit.load({ async: false });}catch(e){}

    %link(rel="stylesheet" href="styles/main.css")

  %body
    %div.banner
      %div.banner__content
        %div.banner__topbar
          %h1.banner__title Myst

          %ul.banner__nav
            %a.banner__link(href="#")
              %li Docs
            %a.banner__link(href="/get-started")
              %li Get Started
            %a.banner__link(href="http://discord.myst-lang.org")
              %li Community
            %a.banner__link(href="https://github.com/myst-lang/myst")
              %li GitHub

        %div.banner__hero
          %div.banner__tagline
            A language for clarity from the start, flexibility when you need it, and efficiency where it matters.

          %div.banner__code-sample
            %pre.code-sample.code-sample--no-margin
              %code
                :preserve
                  def fib(0); 1; end
                  def fib(1); 1; end
                  def fib(n : Integer)
                    fib(n-1) + fib(n-2)
                  end

                  IO.puts(fib(8)) #=> 21

    %main
      %p Myst is a programming language designed with clarity in mind. Rather than focusing on a single paradigm and seeing it through, Myst takes a more pragmatic approach.

      %p With heavy influences from both Ruby and Elixir, Myst combines proven concepts like pattern matching and modular composition with some novel ideas, including global interpolation and fully optional typing. The result is a language that caters to natural thought and logic.

      %p Myst is still very early on in its development. While the syntax is starting to stabilize, there's still plenty of room for improvement, and even more openness to new ideas.

      %p
        If you'd like to help shape the language, be an early adopter, or just follow along as things develop, it'd be great to see you in
        %a(href="http://discord.myst-lang.org") our discord server
        or
        %a(href="https://github.com/myst-lang/myst") on GitHub
        \.
