!!!
%html
  %head
    %title The Myst Programming Language

    %script(src="https://use.typekit.net/qgo3knx.js")
    :javascript
      try{Typekit.load({ async: false });}catch(e){}

    %link(rel="stylesheet" href="styles/main.css")

  %body
    = Haml::Engine.new(File.read("src/_banner._haml")).render do
      - capture_haml do
        %div.banner__hero
          %div.banner__tagline
            A language for clarity from the start, flexibility when you need it, and efficiency where it matters.

          %div.banner__code-sample
            %pre.code-sample.code-sample--no-margin
              %code
                :preserve
                  def fib(0); 1; end
                  def fib(1); 1; end
                  def fib(n : Integer)
                    fib(n-1) + fib(n-2)
                  end

                  IO.puts(fib(8)) #=> 21

    %main
      %p Myst is a new programming language with the goal of bridging flexibility and practicality. By directly addressing common traps in modern dynamic programming, Myst provides users the ability to work quickly and easily with the power to write controlled, highly-structured code.

      %p With heavy influences from Ruby, Elixir, Crystal, and other modern languages, Myst combines proven concepts like pattern matching and modular composition with some novel ideas, including global interpolation and fully optional typing. The result is a language that caters to natural thought and logic.

      %p Some of the high-level features of Myst include:

      %ul
        %li
          %strong Pattern-matching everywhere.
          Assignments, method parameters, rescue clauses, etc.
        %li
          %strong Multi-clause functions.
          All functions can define multiple clauses to adapt functionality based on inputs.
        %li
          %strong Value interpolations.
          Interpolate any value anywhere (even in method parameters) with the <code><></code> syntax.
        %li
          %strong Soft typing.
          Optional type annotations help control functionality without the clutter of conditionals.
        %li
          %strong Raise anything.
          Any value can be raised as an exception and pattern matched by a rescue clause.

      %p Myst is still very early on in its development. While the syntax stabilizing, there's still plenty of room for improvement, and even more openness to new ideas.

      %p
        If you'd like to help shape the language, be an early adopter, or just follow along as things develop, it'd be great to see you in
        %a(href="http://discord.myst-lang.org") our discord server
        or
        %a(href="https://github.com/myst-lang/myst") on GitHub
        \.
