.banner {
  color: #52656b;
  font-family: "rooney-web", serif;
}

.banner__content {
  width: 940px;
  margin: auto;
  padding-top: 12px;
}


.banner__topbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid #52656b;
}

.banner__title {
  flex: 1 0 200px;
  padding: 0;
  margin: 0 0 12px 0;
  font-weight: normal;
  font-size: 64px;
  line-height: 1em;
}

.banner__nav {
  text-align: right;
  flex: 1 1 auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.banner__link {
  display: inline-block;
  padding: 18px 9px;
  font-size: 24px;
  text-decoration: none;
  border: none;
  color: #52656b;
}

.banner__link:hover {
  color: #374448;
  text-decoration: underline;
  border: none;
}


.banner__hero {
  padding: 36px;
  display: flex;
}

.banner__tagline {
  flex: 1 0 0;
  font-size: 24px;
  line-height: 1.5em;
  margin-top: 24px;
}

.banner__code-sample {
  flex: 0 0 400px;
  font-size: 18px;
}
